:root {
    /* --green: #41a62a; */
    --green: #53cd30;
    --orange: #ef7939;
    /* --orange: #e95f13; */
    --blue: #00a8e1;
    --grey: #d9e1e7;
    --pink: #da005e;
    --yellow: #e2e000;
    --scoutblue: #003660;
    --buttoncolor: #d14700;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

h1,
h2 {
    background-color: var(--scoutblue);
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

p {
    padding-left: 20px;
    padding-right: 20px;
}

ul {
    margin-top: 0px;
}

#newCourseGrid,
#courseGrid {
    padding: 20px;
    padding-left: 20px;
    background-color: var(--scoutblue);
}

button {
    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: var(--pink);
    border-radius: 10px;
    border: 0px;
    padding: 20px;
    cursor: pointer;
}

button:hover {
    filter: brightness(90%);
}

.course {
    padding: 20px;
    background-color: white;
    margin: 5px 0;
    border-radius: 10px;
    cursor: pointer;
}

.course:hover {
    filter: brightness(90%);
}

.finished {
    background-color: var(--green);
}

#clearButton,
#deleteButton {
    width: 200px;
}

.buttonGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    margin: 10px;
}

.infoGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    justify-items: auto;
    /* grid-template-columns: repeat(auto-fit, 1fr); */
    gap: 10px;
}

@media screen and (orientation: landscape) {
    .info-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        /* grid-template-columns: repeat(auto-fit, 1fr); */
    }
}

.tp {
    display: flex;
}

.tp .tl {
    font-weight: bold;
    color: black;
}

.tp .tv {
    color: black;
}

.box {
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 10px;
}

.green {
    background-color: var(--green);
    color: black;
}

.red {
    background-color: var(--orange);
    color: black;
}

.gray {
    background-color: var(--grey);
    color: black;
}

.editable {
    border: 2px dashed var(--scoutblue);
    cursor: pointer;
}

.editable:hover {
    filter: brightness(90%);
}

#popup {
    display: none;
    background: var(--scoutblue);
    color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    position: relative;

}

.progress {
    padding: 10px;
    color: black;
    text-align: center;
    font-size: 1.2em;
    border-radius: 10px;
    font-weight: bold;
}

#popupLabel {
    font-weight: bold;
}

table,
th,
td {
    vertical-align: top;
}

td {
    padding-inline: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

#courseInfo {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
}

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');