:root {
    --green: #41a62a;
    --orange: #e95f13;
    --blue: #00a8e1;
}

body {
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
}

h1,
h2,
h3,
p,
a {
    padding: 10px;
}

.course {
    padding: 10px;
    background-color: #ddd;
    margin: 5px 0;
    border-radius: 6px;
    cursor: pointer;
}

#newCourse {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px dashed #aaa;
    border-radius: 10px;
    background-color: #f9f9f9;
}

button {
    padding: 10px;
    font-size: 1em;
    text-align: center;
    border-radius: 10px;
    background-color: lightgray;
    font-weight: bold;
}

#clearButton,
#deleteButton {
    background-color: var(--orange);
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
}

#startNewCourse {
    background-color: ddd;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
}

#startNewCourse:hover {
    background-color: #eee;
}

#startedCourses {
    border: 1px dashed #aaa;
    border-radius: 10px;
    display: grid;
    background-color: #f9f9f9;
    margin-top: 10px;
    padding: 10px;
}

.course {
    background-color: #eee;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.course:hover {
    background-color: #ddd;
}

#controlGrid,
#progressGrid,
#buttonGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    margin: 10px;
}


.box {
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 1.2em;
    border-radius: 10px;
    font-weight: bold;
}

.green {
    background-color: var(--green);
    color: black;
}

.red {
    background-color: var(--orange);
    color: black;
    cursor: pointer;
}

.gray {
    background-color: var(--blue);
    color: black;
    cursor: pointer;
}

.editable {
    border: 2px dashed white;
    cursor: pointer;
}

#popup {
    display: none;
    background: #eee;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

.progress {
    padding: 10px;
    color: black;
    text-align: center;
    font-size: 1.2em;
    border-radius: 10px;
    font-weight: bold;
}

#popupLabel {
    font-weight: bold;
}

table,
th,
td {
    /* border: 1px solid; */
    padding: 10px;
    vertical-align: top;
    border-collapse: collapse;
}

table {
    width: 100%;
}

@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');